body {
    margin: 0px;
}

.all_head {
    background-color: #3B5D50;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-around;


}

ul {
    margin-top: 80px;
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.logo h1 {
    font-family: sans-serif;
    color: #fff;
    margin-top: 80px;
}

.fa-user {
    margin-left: 150px;
    color: #fff;
}

.fa-cart-shopping {
    margin-left: 20px;
    color: #fff;
}

.head a {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    transition: all 0.8s ease-in;

}

.head a:hover {
    color: #fff;
    opacity: 10;
    text-decoration: underline yellow;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.furni h1 {
    font-family: sans-serif;
    color: #fff;
    margin-top: 150px;
    margin-left: 100px;
    font-size: 2em;
}

.furni {
    position: absolute;
    margin-left: -700px;
}

.furni p {
    color: #fff;
    margin-left: 100px;
    opacity: 0.6;
    font-family: sans-serif;
}

.sec1 {
    background-color: #3B5D50;
    height: 600px;
    background-repeat: no-repeat;
    margin-left: 700px;
    background-image: url(couch.png);
}

.furni .bt1 {
    color: #2f2f2f;
    background-color: #f9bf29;
    border-color: #f9bf29;
    font-weight: 600;
    padding: 12px 30px;
    border: 1px solid #f9bf29;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 100px;

}

.bt2 {
    color: #2f2f2f;
    background-color: #3B5D50;
    font-weight: 600;
    padding: 12px 30px;
    border: 1px solid azure;
    border-radius: 30px;
    cursor: pointer;
}

.sp2 {
    color: #fff;
}

.sp3 {
    color: #fff;
}

.bt3 {
    color: #2f2f2f;
    background-color: #2f2f2f;
    font-weight: 600;
    padding: 12px 30px;
    border: 1px solid azure;
    border-radius: 30px;
    cursor: pointer;
}

.sec2 {
    margin-left: 50px;
    font-family: sans-serif;
    margin-top: 100px;
}

.sec2 h2 {
    color: #2f2f2f;

}

.material {
    margin-top: 30px;
}

.sec2 p {
    color: #2f2f2f;
    opacity: 0.6;
}

.all1 {
    display: flex;
}

.carts h2 {
    margin-top: 40px;
    margin-left: 190px;
}

.carts .sp5 {
    margin-left: 240px;
}

.carts img {
    height: 300px;
    object-fit: cover;
    margin-left: 100px;
}

.cart2 img {
    height: 300px;
    object-fit: cover;
    margin-left: 150px;
}

.cart2 h2 {
    margin-top: 40px;
    margin-left: 200px;
}

.cart2 .sp5 {
    margin-left: 280px;
}

.cart3 img {
    height: 300px;
    object-fit: cover;
    margin-left: 80px;
}

.cart3 h2 {
    margin-left: 140px;
    margin-top: 40px;
}

.cart3 .sp5 {
    margin-left: 230px;
}

.cart {
    display: flex;
}

.sec3 {
    margin-left: 100px;
    margin-top: 200px;
    font-family: sans-serif;
}

.text h2 {
    color: #2f2f2f;
}

.text p {
    color: #2f2f2f;
    opacity: 0.6;
}

.fast h3 {
    color: #2f2f2f;
}

.fast p {
    color: #2f2f2f;
    opacity: 0.6;
}

.fast_all {
    display: flex;
    gap: 100px;
}

.img img {
    border: 1px solid;
    border-radius: 12px;
    border: none;
    margin-top: -300px;
}       